.container-page {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: black;
  margin: auto;
  height: 100%;
}

.header-page {
  display: block;
  padding: 1rem;
  padding-bottom: 0rem;
  border: 1px solid white;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hp-logo {
  height: 42px;
  width: 124px;
}

.filter-text {
  font-size: 20px;
  font-weight: 700;
  color: #FFF;
  text-align: center;
}

.body-page {
  display: flex;
  flex: 8;
  flex-direction: column;
  border: 1px solid white;
}

.button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 700px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
}
