.container-page {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: black;
  margin: auto;
  height: 100%;
  width: 100%;
}

@media (min-width: 900px) {
  .container-page {
    max-width: 900px;
    margin: 0 auto;
    background-color: transparent;
  }
}

.header-page {
  display: block;
  padding: 1rem;
  padding-bottom: 0rem;
}

@media (min-width: 600px) {
  .header-page {
    display: block;
    padding: 1rem;
    padding-bottom: 0rem;
    margin-top: 3rem;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hp-logo {
  height: 42px;
  width: 124px;
}

.filter-text {
  font-size: 20px;
  font-weight: 700;
  color: #FFF;
  text-align: center;
}

.body-page {
  display: flex;
  flex: 8;
  flex-direction: column;
}

.button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 750px;
  overflow-x: hidden;
  overflow-y: auto;
}

.fixed-bar {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0px;
  left: 5%;
  background-color: #6B63B5;
  width: 90%;
  max-width: 900px;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0rem;
}

@media (min-width: 600px) {
  .fixed-bar {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0px;
    right: 0px;
    left: auto;
    bottom: auto;
    background-color: #6B63B5;
    width: 100%;
    max-width: 300px;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0.5rem;
  }
}

.favorites {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #403B6D;
}

.add {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #403B6D;
}

.add-text {
  font-size: 14px;
  font-weight: 600;
  color: #FFF;
}

.add-character {
  width: 24px;
  height: 24px;
  margin-left: 5%;
}

.btn-link {
  --bs-btn-color: white !important;
  font-weight: bold !important;
  text-decoration: none !important;
}

.btn:first-child:hover {
  color: white !important;
}

.dropdown-menu {
  --bs-dropdown-bg: #6B63B5 !important;
  --bs-dropdown-link-color: white !important;
}

.dropup .dropdown-toggle::after {
  border-bottom: 0 !important;
  border-left: 0 !important;
}

.fav-icon-white {
  width: 16px;
  height: 17px;
}

.delete-icon {
  width: 24px;
  height: 24px;
}

.photo-drop {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}
